
/* task_search 絞り込み検索 */

.task_search {
  width: 100%;
  margin: 0 0 30px;
  padding: 20px 20px 12px 85px;
  // border: 1px dotted #fff;
  background: rgba(255,255,255,0.1);
  background-image: image-url('icon_search_bg.png');
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 50px;
}

/* form */

.task_search form {
  padding-bottom: 10px;
  border-bottom: 1px dashed rgba(255,255,255,0.5);
}

.task_search label {
  padding-right: 5px;
  // color: #474747;
  color: #fff;
  font-weight: normal;
  line-height: 25px;
}

.task_search input { margin-right: 10px; }

.task_search input[type="text"] {
  height: 25px;
  line-height: 25px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  border: none;
  padding: 0 5px;
  background: rgba(255,255,255,0.8);
  transition: all 0.2s ease;
}

.task_search input[type="text"]:focus {
  width: 200px;
  transition: all 0.2s ease;
}

.task_search input[type="submit"] {
  padding: 5px 13px;
  background: rgba(255,255,255,0.8);
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.2s ease;
  font-weight: bold;
  height: 25px;
}

.task_search input[type="submit"]:hover { background: rgba(255,255,255,1); }

.task_search select {
  margin-right: 10px;
  height: 25px;
  line-height: 26px;
  font-size: 1.2rem;
  border: none;
  background: rgba(255,255,255,0.8);
}

.task_search ul { text-align: left; margin-top: 15px; padding: 0; }
.task_search ul li { display: inline-block; margin-right: 10px; }

.task_search ul li a {
  padding: 5px 13px;
  background: rgba(255,255,255,0.8);
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.2s ease;
  font-weight: bold;
}

.task_search ul li:first-child a { color: #ef7a82; }
.task_search ul li:last-child a { color: #05b06e; }

.task_search ul li a:hover {
  text-decoration: none;
  background: rgba(255,255,255,1);
  transition: all 0.2s ease;
}

.task_search .btn_sort {
  margin-top: 15px;
}

.task_search .btn_sort input {
  margin-right: 5px;
}

.task_search .btn_sort label {
  margin-right: 20px;
}

// .table { table-layout: fixed; }

.table td {
  word-wrap: break-word;
  margin: auto 0;
}

.table tr:nth-child(odd) { background: rgba(255,255,255,0.7); }
.table tr:nth-child(odd):hover { background: rgba(255,255,255,0.8); }
.table tr:nth-child(even) { background: rgba(255,255,255, 0.8); }
.table tr:nth-child(even):hover { background: rgba(255,255,255, 0.9); }
.table tr:first-of-type:hover { background: rgba(255,255,255,0.7); }

.table tr td.task-title,
.table tr td.task-content {
  width: 23%;
}

.table td a.btn {
  display: inline-block;
  width: 100%;
  padding: 3px 0;
  background: rgba(255,255,255,0.8);
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  transition: all 0.2s ease;
  font-weight: bold;
  color: #363636;
}

.table td a:hover { color: #ef7a82 }

.table td ul {
  width: auto;
  margin: 0;
  padding: 0;
}

/* Lower */

.wrapper .wrapper-box {
  padding: 25px;
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid #fff;
}

.wrapper .wrapper-box h1 {
  color: #363636;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper-box form { width: 320px; margin: 0 auto; }

.wrapper-box .task_title label {
  margin: 0 0 20px;
  width: 100px;
}

.wrapper-box .task_title input[type="text"] {
  width: 200px;
  height: 25px;
  coler: #fff;
  border-radius: 5px;
  border: solid 1px #ccc;
}

.wrapper-box .task_title select {
  width: 130px;
  height: 25px;
}

/* admin */

.wrapper-box ul.admin-form li input[type="text"] {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  padding: 0 5px;
  coler: #fff;
  border-radius: 5px;
  border: solid 1px #ccc;
}

/* admin-column index */

.admin-column p.admin-new-user {
  margin: 20px 0;
}

.admin-column p.admin-new-user a {
  padding: 7px 20px;
  background: rgba(255,255,255,0.8);
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.2s ease;
  font-weight: bold;
  color: #363636;
}

/* form submit btn */

.wrapper-box form input[type="submit"] {
  margin: 15px 0;
  padding: 8px 60px;
  background: rgba(255,255,255,0.8);
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.2s ease;
  font-weight: bold;
}

.wrapper-box form input[type="submit"]:hover { color: #ef7a82; }

/* show.html */

.show_box {
  text-align: center;
  margin-bottom: 50px;
}

.show_box p.btn_edit { margin: 30px 0 50px 0; }

.show_box p.btn_edit a {
  padding: 8px 60px;
  background: rgba(255,255,255,0.8);
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.2s ease;
  font-weight: bold;
  color: #363636;
}
.show_box p.btn_edit a:hover {
  text-decoration: none;
  color: #ef7a82;
  transition: all 0.2s ease;
}

.show_box .show_labels li,
table td ul li.show_labels {
  display: inline-block;
  padding: 3px 7px;
  margin: 0 10px 5px 0;
  border: 1px solid #faaca8;
  background: #fff;
  border-radius: 4px;
  font-size: 1.1rem;
}

.show_box .show_labels li:last-child,
table td ul li.show_labels:last-child {
  margin: 0;
}

.wrapper .btns a {
  display: block;
  margin: 20px auto 20px;
  text-align: center;
}

.wrapper .btns ul {
  margin: 0 auto;
  text-align: center;
}

.wrapper .btns ul li {
  list-style-type: none;
  margin-bottom: 20px;
}

/* page-nation */
.kaminari-pagenation { text-align: center; }

/* clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}